:root {
    --primary: #3B8AD2;
    --secondary: #ff5042;
    --tertiary: #51AFA7;
    --white: #ffffff;
    --text-color-dark: #053247;
    --bg-color1: linear-gradient(126.85deg, #1c0547 -36.13%, #027c94 98.05%);
    --bg-color2: #f7f7f8;
    --bg-color3: #fff;
}

.header {
    width: 100%;
    height: 60px;
    color: aliceblue;

    .header_tabs ul {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 20px;

        li {
            list-style: none;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            opacity: .8;
            transition: all ease-in-out 0.2s;
            cursor: pointer;

            &:hover {
                color: rgb(23, 77, 94);
                opacity: 1;
                background-color: #fff;
            }
        }
    }

}

.header_bg {
    position: sticky;
    top: 0%;
    // background-color: transparent;
    background: linear-gradient(126.85deg, #052c47 -36.13%, #026494 98.05%);
}

.siteLogo {

}

.navWrap {
    .navList {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        grid-gap: 50px;
        font-weight: 500;
        margin: 0;

        .navLink {
            text-decoration: none;
            font-weight: 600;
            color: #fff;
            padding: 10px 0px;
            transition: all ease-in-out 0.3s;

            &:hover {
                opacity: .8;
            }
        }

        .navButton {
            background-color: var(--secondary);
            color: #fff;
            padding: 12px 25px;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 600;
            transition: all ease-in-out 0.3s;

            &:hover {
                background-color: #e5281a;
            }
        }
    }
}

.orm_logo{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.siteHeader {
    position: fixed;
    width: 100vw;
    padding: 25px 0px;
    transition: all ease-in-out .3s;
    z-index: 100;
    &.sticky {
        backdrop-filter: blur(8px);
    background-image: linear-gradient(126.85deg, rgba(28, 5, 71, 0.5411764706) -36.13%, rgba(2, 124, 148, 0.5176470588) 98.05%);
    padding: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.active {
    border-bottom: 2px solid var(--bg-color3);
}

.menu_toggle_btn {
    display: none;
    font-size: 30px;
    color: var(--bg-color3);
    cursor: pointer;

    @media (max-width: 1000px) {
        display: block;
    }
}

.nav_items {
    @media (max-width: 1000px) {
        display: none !important;
    }
}

.hover_pouse_box {
    padding-top: 40px;
    position: absolute;
    top: 30px;
    left: -100px;
    background-color: transparent;
}

.megaMenuWrapper {
    width: 810px;
    padding: 8px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
    z-index: 9 !important;
    background-color: var(--bg-color2);
    border-radius: 10px;
    transition: all ease-in-out 0.5s;

}

.child_hover_data_position {
    position: absolute;
    top: 8px;
    right: 8px;

}

.background_set {
    position: absolute;
    top: 8px;
    right: 8px;
    max-width: 530px;
    height: 252px;
    background-color: var(--bg-color3);
    border-radius: 10px;
    width: 100%;
}

.hover_box_layout {
    display: flex;
    width: 100%;
    align-items: center;

    .tab_box_col {
        width: 100%;
        max-width: 250px;
        // background-color: #96cde9;
    }

    .data_box_col {
        width: 100%;
        max-width: 530px;
        max-height: 250px;
        padding: 10px 0;
        // height: 300px;
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        overflow: auto;
        // background-color: var(--bg-color3);

    }

    .child_hover_btn {
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;

        h6 {
            font-weight: 600;
            color: var(--text-color-dark);
            margin-bottom: 5px;
        }

        p {
            font-weight: 400;
            color: #000;
            opacity: 0.6;
            line-height: 20px;
            margin: 0;
        }

        &:hover {
            background-color: var(--bg-color3);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    .active_tab {
        background-color: var(--bg-color3);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .child_hover_data {
        padding: 6px 10px;
        // background-color: #026494;
        width: 230px;
        border-radius: 6px;
        display: flex;
        margin-left: 10px;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            background-color: var(--bg-color2);
        }

        h6 {
            font-weight: 600;
            color: var(--text-color-dark);
            margin-bottom: 0px;
            text-transform: capitalize;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 160px;
            // -webkit-line-clamp: 1;
            // -webkit-box-orient: vertical;
            // display: -webkit-box;
            // overflow: hidden;
        }

        p {
            font-weight: 400;
            color: #000;
            opacity: 0.6;
            line-height: 20px;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 160px;
        }

    }

}

.mobile {
    &-menu {
        max-width: 330px;
        width: auto;
        transition: all 0.4s;
    }

    &-nav_list {
        padding: 0;

        li {
            list-style: none;
            padding: 8px 30px 8px 18px;
            min-width: 270px;
            cursor: pointer;
            border-left: 4px solid transparent;

        }

        .nav_link {
            text-decoration: none;
            color: var(--text-color-dark);
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;



        }

        // .navButton {
        //     color: var(--text-color-dark);
        //     text-decoration: none;
        //     font-weight: 500;
        //     padding: 6px 22px;
        //     border: 1px solid #d7d7da;
        // }
    }

    &-icon {
        font-size: 22px;
    }

    &-active_menu {
        background-color: var(--bg-color2);
        border-left: 4px solid var(--text-color-dark) !important;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &-accordion_menu .accordion-button {
        background-color: transparent;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-dark);
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        &:focus{
            box-shadow: none;
        }
    }

    &-accordion_menu .accordion-item {
        border: none;
    }

    &-accordion_menu .accordion-button:not(.collapsed) {
        box-shadow: none;
    }
    &-offcanvas{
        z-index: 22222;
        height: auto !important;
        max-height: 50% !important;
       
        .close_bar{
            background-color: var(--bg-color3);
            border-bottom: 1px solid #d4d6d6ee;
        }
        
    }
    &-service_data_link{
        width: 200px;
        padding: 8px;
        border-radius: 6px;
        transition: all 0.3s;
        &:hover{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}
.active_service_tab{
    h6{
        text-decoration: underline;
    }
    p{
        text-decoration: underline;
    }
}
.over_flow{
    overflow-y: auto;
    padding: 16px 0;
}
.max_text_200{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
}

.close_button {
    font-size: 25px;
    color: var(--text-color-dark);
    text-align: end;
    padding-right: 8px;
    cursor: pointer;
}
.green_text{
    font-size: 16px;
    color: #308f3f;
    font-weight: 500;
}
