:root {
  --primary: #3B8AD2;
  --secondary: #ff5042;
  --tertiary: #51AFA7;
  --white: #ffffff;
  --text-color-dark: #053247;
  --bg-color1: linear-gradient(126.85deg, #1c0547 -36.13%, #027c94 98.05%);
  --bg-color2: #f7f7f8;
  --bg-color3: #fff;
}


*{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.sectionPadding {
  padding: 100px 0px;
  scroll-margin-top: 100px;

  @media (max-width: 1200px) {
    padding: 80px 0px;
  }

  @media (max-width: 767.98px) {
    padding: 60px 0px;
  }
}

.top_padding {
  padding-top: 40px;

  @media (max-width: 767.98px) {
    padding-top: 30px;
  }
}

.sectionPadding2 {
  padding: 50px 0px;
  scroll-margin-top: 50px;

  @media (max-width: 1200px) {
    padding: 40px 0px;
  }
}

.container_1000 {
  max-width: 1000px !important;
}

.bg_gray {
  background-color: var(--bg-color2);
}

.bg_dark {
  background-image: var(--bg-color1);
}

.bg_dark_1 {
  background-color: #053247;
}

.bg_white {
  background-color: var(--bg-color3);
}

.white_font {
  color: #fff;
}

.dark_font {
  color: var(--text-color-dark) !important;
}

.font_700 {
  font-weight: 700 !important;
}



// *****************************common-css***************************
.text {
  &-12 {
    font-size: 12px;
  }

  &-16 {
    font-size: 16px;

    @media (max-width: 1400px) {
      font-size: 15px;
    }

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }

  &-18 {
    font-size: 18px;

    @media (max-width: 1400px) {
      font-size: 17px;
    }

    @media (max-width: 1200px) {
      font-size: 15px;
    }
  }

  &-20 {
    font-size: 20px;

    @media (max-width: 1400px) {
      font-size: 18px;
    }

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &-24 {
    font-size: 24px;

    @media (max-width: 1400px) {
      font-size: 22px;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

}


.title {

  &-sm {
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 26px;
    font-weight: 400;
    font-family: "DM Sans", "Noto Sans", helvetica, arial, sans-serif;


    @media (max-width: 767.98px) {
      font-size: 18px;
      line-height: 22px;
    }

  }

  &-md {
    font-size: 24px;
    letter-spacing: .5px;

    @media (max-width: 1200px) {
      font-size: 22px;
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
    }
  }

  &-xl {
    font-size: 36px;
    letter-spacing: .5px;

    @media (max-width: 1400px) {
      font-size: 32px;
    }

    @media (max-width: 1200px) {
      font-size: 30px;
    }

    @media (max-width: 767.98px) {
      font-size: 26px;
    }

    @media (max-width: 576.98px) {
      font-size: 22px;
    }
  }

  &-xxl {
    font-size: 48px;
    line-height: 62.5px;

    @media (max-width: 1400px) {
      font-size: 38px;
      line-height: 50.5px;
    }

    @media (max-width: 1200px) {
      font-size: 32px;
      line-height: 40.5px;

    }

    @media (max-width: 767.98px) {
      font-size: 30px;
      line-height: 30.5px;
    }
  }
}

.responsive_img {
  max-width: 100%;
  height: auto;
}

.margin_bottom_40 {
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
}

.padding_hero_img {
  padding: 40px;
}

.padding_img {
  padding: 30px;

  @media (max-width: 1200px) {
    padding: 0%;

  }
}

// *****************************end***********************************

.title_section {
  h1 {
    font-size: 36px;
    color: var(--text-color-dark);
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-color-dark);
  }
}

.item_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_box_container {
  max-width: 1000px;
}

.brand_box {
  width: 148px;
  height: 135px;
  background-color: var(--bg-color3);
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  .brand_logo {
    max-width: 50px;
    max-height: 50px;
    background-size: contain;
    background-position: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--text-color-dark);
    margin: 0;
    font-weight: 500;
  }
}

// ***************marquee-start*********************
.marquee {
  border-bottom: 1px solid #e8e9ed;

  p {
    font-size: 20px;
    background-color: #e8e9ed;
    width: 190px;
    height: 119px;
    font-weight: 500;
    margin-bottom: 0;
    box-shadow: 65px 2px 75px -17px rgba(167, 166, 166, 0.884),
      -25px 0px 20px -20px rgba(207, 206, 206, 0.884);
  }

  .marquee_img {
    margin: 0 45px;
    background-position: center;
    max-width: 100%;
    object-fit: contain;
    max-height: 55px;
    height: auto;
  }
}

.marquee_card {
  background: #fff;
  width: 360px;
  height: 190px;
  border-radius: 4px;
  box-shadow: 0px 10px 60px rgba(3, 17, 44, .15);
  padding: 20px;
  margin: 0 10px;
  color: var(--text-color-dark);
  max-height: 100%;
  transition: height 0.7s ease-out;
  -moz-transition: height 0.7s ease-out;
  /* Firefox 4 */
  -webkit-transition: height 0.7s ease-out;
  /* Safari 和 Chrome */
  -o-transition: height 0.7s ease-out;
  /* Opera */

  &:hover {
    height: 300px;
    transition: height 0.7s ease-out;
  }

  &:hover span {
    -webkit-line-clamp: initial;
    transition: height 0.7s ease-out;
  }

  .card_profile_img {
    max-width: 40px;
    height: 40px;
    background-position: center;
    object-fit: cover;
    border-radius: 100px;
  }

  h5 {
    margin-bottom: 10px;
  }

  span {
    font-size: 14px;
    margin-bottom: 0;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    transition: all ease-in-out 0.4s;

  }
}

// **************marquee-end***********************

// **************button***********************
.prime_btn {
  background-color: #ff5042;
  color: #fff;
  padding: 13px 24px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #ff5042;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: #ee3326;
  }

  @media (max-width: 1200px) {
    padding: 10px 18px;
  }

  @media (max-width: 767.98px) {
    padding: 6px 12px;
  }
}

.border_btn {
  background-color: transparent;
  color: #fff;
  padding: 13px 24px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #fff;
  transition: all 0.4s;

  &:hover {
    background-color: #053247;
    color: var(--bg-color3);
  }

  @media (max-width: 1200px) {
    padding: 10px 18px;
  }
}

.dark_btn {
  color: var(--text-color-dark);
  border: 1px solid #c3c7ce;

}

// ********************end**************************
.info_wrap_content h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--text-color-dark);
  line-height: 62.5px;
  margin-bottom: 30px;
}

.info_wrap_content p {
  color: var(--text-color-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", "Noto Sans", helvetica, arial, sans-serif;
}

.divider {
  background-color: var(--bg-color2);
  width: 2px;
  height: 40px;
  margin: 5px 20px;
  opacity: 0.8;
}

// ***********************blur-background****************************
.image_bg {
  background-image: url("/images/fixed-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content_bg {
  backdrop-filter: blur(5px);
  background-color: #0532476a;
}

// *****************************************************************

// ***********************flip-card************************
.flip_card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip_card_inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip_card:focus {
  outline: 0;
}

.flip_card:hover .flip_card_inner,
.flip_card:focus .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip_card_front {
  background: linear-gradient(to left, #4364f7, #6fb1fc);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip_card_back {
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_icon {
  width: 40px;
  height: 40px;
  background-color: #3fa757;
  padding: 2px;
  color: #fff;
  border-radius: 100px;
  margin-right: 15px;

  @media (max-width: 767.98px) {
    width: 30px;
    height: 30px;
  }
}

.close_icon {
  background-color: #e84f4f;
}

.v_line {
  width: 1px;
  height: 70px;
  background-color: #cecfcf;
}

// **************************************************

// *********************************bg-card-start*****************************
.bgCard {
  &-card {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 1px solid #cecfcf6d;
  }

  &-content {
    position: absolute;
    bottom: -14%;
    left: 20px;
    right: 20px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 12px;
    background-color: #f1f5ff37;
    border: 1px solid #cecfcf6d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  &-info {
    font-size: 13px;
    font-weight: 100;
    line-height: 15px;
    color: #cecfcf;
    margin-bottom: 0;
  }

  &-title {
    position: absolute;
    bottom: 60px;
    left: 20px;
  }

  &-profile_img {
    max-width: 20px;
    max-height: 20px;
    border-radius: 100px;
  }

  &-rating_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-star {
    img {

      filter: drop-shadow(-5px 4px 18px #000000);
    }
  }

  &-rating_up {
    background-color: #3fa757;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    color: var(--bg-color3);
    max-width: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

// ---------------------------------bg-card-end----------------------------
